* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px for easier scaling */
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../images/pexels-johannes-plenio-1118873.jpg");
    line-height: 1.6;
    height: 100vh; /* Stretch the background to cover the whole viewport */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 10px 20px black;
}

.app-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.app-title p {
    font-size: 2rem; /* Slightly larger for better readability */
    color: #333;
}

#search {
    display: block;
    margin: 10px auto;
    padding: 1rem;
    width: 80%;
    border-radius: 2rem;
    outline: none;
    border: 3px solid steelblue;
}

.notification {
    display: none;
    color: maroon;
    font-size: 1.6rem; /* More readable notification text */
    padding: 10px 0;
}

.weather-container {
    width: 100%;
    text-align: center;
}

.weather-icon {
    width: 100%;
    height: 128px;
}

.weather-icon img {
    display: block;
    width: 100px;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
}

.temperature-value {
    font-size: 3rem;
    color: #ff0202;
}

.temperature-value sup {
    color: #293251;
}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description {
    margin: 10px 0;
    color: #293251;
    font-size: 1.8rem; /* Larger to fit with other text */
}

.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    font-size: 1.6rem; /* Adjusted to be more readable */
}

.location-icon {
    width: 100%;
    height: 40px;
    padding: 10px;
}

.location-icon img {
    display: block;
    width: 60px;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

div.relative {
    position: absolute;
    top: 600px;
    right: 120px;
}
